<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <form action="/login" method="post">
      <label for="signUp">Login</label><br />
      <input type="text" name="email" required placeholder="email" /><br />
      <input
        type="password"
        name="password"
        required
        placeholder="password"
      /><br />
      <button type="submit">Login</button>
    </form>
    <br />
    <a href="/signUp">Dont have an account?</a>
  </body>
</html>
